@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Azeret Mono", monospace; */

*{
    font-family: "Azeret Mono";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-section{
    margin: auto;
    background-color: green;
    height: 94px;
    width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.nav-section h2{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
}

.nav-section button{
    /* display: block; */
    width: 228px;
    height: 58px;

    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;


    background-color: white;

    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;

}